@model List<ProductListDto>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/wwwroot/css/ImageCard.css" rel="stylesheet"/>
</head>
<body>


    <br>

    <div class="row">
        @foreach (var item in Model)
        {
            var base64 = Convert.ToBase64String(item.ProductImage);
            var imagesrc = string.Format("data:image/gif;base64,{0}", base64);


            <div class="column">
                <div class="card">
                    <img src="@imagesrc" style="width:100%">
                    <div class="container">
                        <h2>Product Name:@item.ProductName</h2>
                        <h2>Price:@item.Price TL</h2>
                    </div>

                    

                </div>
            </div>

           



        }
    </div>


    </body>
</html>




