html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-block-size: 100vh;
    padding: 5vmin;
}

img {
    block-size: auto;
    max-inline-size: 100%;
    vertical-align: middle;
}

/* Embed */

.embed {
    overflow: hidden;
    padding-block-start: 100%;
    position: relative;
}

.embed--1-2 {
    padding-top: calc(100% / (1 / 2));
}

.embed--2-1 {
    padding-top: calc(100% / (2 / 1));
}

.embed--2-3 {
    padding-top: calc(100% / (2 / 3));
}

.embed > * {
    height: 100%;
    left: 0;
    object-fit: cover;
    padding: 0.25em;
    position: absolute;
    top: 0;
    width: 100%;
}

/* Gallery  */

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.gallery__item--h-2 {
    grid-column-end: span 2;
}

.gallery__item--h-3 {
    grid-column-end: span 3;
}

.gallery__item--v-2 {
    grid-row-end: span 2;
}

.gallery__item--v-3 {
    grid-row-end: span 3;
}